@page "/"
@rendermode InteractiveServer

@using Bupa.MotExpiry.App.Components.HomePageComponents
@using Bupa.MotExpiry.App.Constants

<PageTitle>MOT Expiry Checker</PageTitle>

<div class="container-fluid">
    <div class="row">
        <Input InputLabel="@DisplayStrings.RegistraionInputLabel" InputCallback=@SearchWithRegistration />
    </div>
    <div class="row">
        <MotResultsTable />
    </div>
</div>

